{% extends 'base.html' %}
{% block content %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/more.css' %}">

    <body style="font-family: sans-serif;">
    <main style="padding: 20px 0;">
         <img src="{% static 'img/abt.png' %}" style="height:auto;width: 500px;" alt="Huduma Health Logo">
        <div style="width: 80%; margin: 0 auto;">
            <h2 style="font-size: 24px; font-weight: bold;">About Huduma Health</h2>
            <p style="font-size: 16px;">Huduma Health is a web application that aims to make healthcare more accessible and affordable for all Kenyans. We provide a platform for patients to register, manage their medical records, and view their bills online. We also provide a platform for doctors to register, manage their patients, and access their medical records.</p>

            <h3>Features</h3>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li style="margin-bottom: 10px;">Patient registration and login</li>
                <li style="margin-bottom: 10px;">Doctor registration and login</li>
                <li style="margin-bottom: 10px;">Patient medical record upload</li>
                <li style="margin-bottom: 10px;">Patient bill viewing</li>
                <li style="margin-bottom: 10px;">Doctor patient management</li>
                <li style="margin-bottom: 10px;">Doctor medical record access</li>
            </ul>

            <h3>Benefits</h3>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                <li style="margin-bottom: 10px;">Improved access to healthcare</li>
                <li style="margin-bottom: 10px;">Reduced healthcare costs</li>
                <li style="margin-bottom: 10px;">Improved patient satisfaction</li>
                <li style="margin-bottom: 10px;">Improved doctor efficiency</li>
            </ul>
        </div>
    </main>
    </body>
{% endblock %}